project-4/src/main/app/project-4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration"/>
    <sfdc:cached-basic-config name="Salesforce__Basic_Authentication" username="dadaram.jadhav@capgemini.com" password="Dmashu@123" securityToken="X5tEo6t2zMJovDgQAwxSz1Kjh" doc:name="Salesforce: Basic Authentication"/>
    <flow name="project-4Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/salesforce" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="7bd51b45-64ab-4a73-a529-039c3553ed37">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	Name: payload.name,
	Phone: payload.phone
}]]></dw:set-payload>
        </dw:transform-message>
        <sfdc:create-single config-ref="Salesforce__Basic_Authentication" type="Account" doc:name="Salesforce">
            <sfdc:object ref="#[payload]"/>
        </sfdc:create-single>
        <set-payload value="Account created successfully..." doc:name="Set Payload"/>
    </flow>
</mule>
