project-5/src/main/app/project-5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration"/>
    <sfdc:cached-basic-config name="Salesforce__Basic_Authentication" username="dadaram.jadhav@capgemini.com" password="Dmashu@123" securityToken="X5tEo6t2zMJovDgQAwxSz1Kjh" doc:name="Salesforce: Basic Authentication"/>
    <flow name="project-5Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/salesforce" doc:name="HTTP"/>
        <sfdc:query-all config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Name,Phone FROM Account" doc:name="Salesforce"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
