project-1/src/main/app/project-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<http:listener-config name="HTTP_Listener_Configuration2"
		host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration" />
	<flow name="project-1Flow">
		<http:listener config-ref="HTTP_Listener_Configuration2"
			path="/third" doc:name="HTTP" />
		<set-variable variableName="method"
			value="#[message.inboundProperties.'http.method']" doc:name="Variable" />
		<choice doc:name="Choice">
			<when expression="#[flowVars.method=='GET']">
				<set-payload value="Get method called...." doc:name="Set Payload" />
			</when>
			<when expression="#[flowVars.method=='POST']">
				<set-payload value="POST method called" doc:name="Set Payload" />
			</when>
			<when expression="#[flowVars.method=='PUT']">
				<set-payload value="put method called..." doc:name="Set Payload" />
			</when>
			<otherwise>
				<set-payload value="This is different method..."
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
</mule>
